body.container {}
div.header {}
div.footer { margin:50px; }

p.site {}
p.copyright {}
p.note {}
p.sectionHeading {}

/* Don't highlight links */
a { color:inherit; text-decoration:none; }

/* Navigational lists at top of page */
p.wrkLst { background-color:#904471; color:#98a9d4; }
.wrkLst a { text-decoration:none; color:white; }
p.viewLst {background-color:#936EA1; color:#98a9d4; }
.viewLst a { text-decoration:none; color:white; }
p.bkLst {background-color:#F9F871; }
.bkLst a { color:inherit; text-decoration:none; }
p.chLst {background-color:paleGreen; }
.chLst a { text-decoration:none; }

p.pageNav { text-align:center; font-size:1.8em; }

/* For bkList class */
span.XX { color:purple; }
.XX a { text-decoration:none; }
span.OT { color:saddlebrown; }
.OT a { text-decoration:none; }
span.NT { color:darkgreen; }
.NT a { text-decoration:none; }
span.DC { color:orange; font-size:smaller; }
.DC a { text-decoration:none; }

p.rem { font-size:0.8em; color:grey; }

p.dctLtrs {}
p.selectedLinks {}

/* Section headings list */
/* p.sectionHeading { } */
p.alternateHeading { margin-top:0.1em; margin-bottom:0.1em; margin-left:1em; font-size:0.8em; color:grey; }
p.sectionHeading + p.alternateHeading { margin-top:-1.2em; }

p.about { }
p.licence { }
p.acknwldg { }
p.footnote { font-size:0.85em; }

/* For Kingdom pages, etc. */
h1.PromisedLand { color:gold; }
h1.FullKingdom { color:blue; }
h1.NorthernKingdom { color:purple; }
h1.SouthernKingdom { color:green; }
h1.BothKingdoms { color:orange; }

div.parallelBMM {}
h2.mapTitle {}
p.mapDescription {}

/* For /s4 */
div.PromisedLand { background-color:LightGoldenrodYellow; }
div.FullKingdom { background-color:#cce6ff; }
div.NorthernKingdom { background-color:#ffe6ff; }
div.SouthernKingdom { background-color:#e6ffe6; }
div.BothKingdoms { background-color:#fff5e6; }
