/* Also used for sections and documents */
/* Paratext stylesheet is at https://github.com/ubsicap/usfm/blob/master/sty/usfm.sty */

body.container {}
div.header {}
div.footer { margin:50px; }
div.periph {}

p.site {}
p.copyright {}
p.note {}

/* span.upLink { font-size:1.5em; font-weight:bold; } */

/* Links */
/* a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; } */
a { color:inherit; text-decoration:none; }

/* Navigational lists at top of page */
p.wrkLst { background-color:#904471; color:#98a9d4; }
.wrkLst a { text-decoration:none; color:white; }
p.viewLst {background-color:#936EA1; color:#98a9d4; }
.viewLst a { text-decoration:none; color:white; }
p.bkLst {background-color:#F9F871; }
.bkLst a { color:inherit; text-decoration:none; }
p.chLst {background-color:paleGreen; }
.chLst a { text-decoration:none; }
/* p.vsLst {background-color:mistyRose; } */
/* .vsLst a { text-decoration:none; } */

/* For bkList class */
span.XX { color:purple; }
.XX a { text-decoration:none; }
span.OT { color:saddlebrown; }
.OT a { text-decoration:none; }
span.NT { color:darkgreen; }
.NT a { text-decoration:none; }
span.DC { color:orange; font-size:smaller; }
.DC a { text-decoration:none; }

/* Navs are the ones with arrows */
p.bkNav { text-align:center; font-size:2em; }
span.bkHead {}
p.secNav { text-align:center; font-size:1.8em; }
p.cNav { text-align:center; font-size:1.8em; background-color:#98a9d4; }
/* .cNav a { text-decoration:none; } */
p.vNav { text-align:center; font-size:1.8em; }
/* .vNav a { text-decoration:none; }
.footnotes a { text-decoration:none; }
.crossRefs a { text-decoration:none; } */

/* Header USFM */
div.bookHeader {}
div.bookIntro {}
p.id,p.rem { font-size:0.8em; color:grey; }
p.id + p.rem, p.rem + p.rem { margin-top:-1.1em; }
p.h { font-weight:bold; }
p.mt1 { text-align:center; font-size:1.8em; }
p.mt2 { text-align:center; font-size:1.3em; }
p.mt3 { text-align:center; font-size:1.2em; }
p.mt4 { text-align:center; font-size:1.1em; }
p.mt1 + p.mt2, p.mt2 + p.mt1, p.mt2 + p.mt3, p.mt3 + p.mt2, p.mt1 + p.mt3, p.mt3 + p.mt1 { margin-top:-0.5em; }
p.ms1 { font-weight:bold; font-size:1.5em; }
p.ms2 { font-weight:bold; font-size:1.3em; }

/* Book intro USFM */
li.intro { margin-top:0.5em; margin-bottom:0.5em; }
p.imt1 { text-align:center; font-size:1.8em; }
p.imt2 { text-align:center; font-size:1.3em; }
p.imt3 { text-align:center; font-size:1.2em; }
p.imt4 { text-align:center; font-size:1.1em; }
p.is1 { font-weight:bold; font-size:1.3em; }
p.is2 { font-weight:bold; }
p.iot { font-weight:bold; }
p.io1 { text-indent:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.io2 { text-indent:4em; margin-top:0.2em; margin-bottom:0.2em; }
p.ip { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.im { margin-top:0.2em; margin-bottom:0.2em; }
p.imi { text-indent:1em; margin-top:0.2em; margin-bottom:0.2em; }
span.ior { font-weight:bold; } /* font-style:italic; */
span.bk { font-style:italic; }

/* Chapters USFM */
span.c { font-size:1.1em; color:green; }
span.ca { font-size:1.1em; color:blue; }
span.cp { font-size:1.1em; color:darkblue; }
p.cp { font-size:1.1em; color:darkblue; } /* Why do we have both p and span for cp -- USFM 3.0 says p ???*/
span.cPsa { font-size:1.6em; font-weight:bold; color:green; }
span.v { vertical-align:super; font-size:0.5em; color:red; }
span.va { vertical-align:super; font-size:0.5em; color:crimson; }
span.vp { vertical-align:super; font-size:0.5em; color:purple; }
span.cv { vertical-align:super; font-size:0.8em; color:orange; }
div.s1 {}
p.s1 { margin-top:0.1em; margin-bottom:0; font-size:1.2em; font-weight:bold; }
p.s2 { margin-top:0.1em; margin-bottom:0; font-size:1.1em; font-weight:bold; }
p.s3 { margin-top:0.1em; margin-bottom:0; font-size:1.06em; font-weight:bold; }
p.s4 { margin-top:0.1em; margin-bottom:0; font-size:1.03em; font-weight:bold; }
p.mr { margin-top:0; margin-bottom:0; font-size:1.1em; text-align: center; font-style:italic; } /* Major section reference range */
p.sr { margin-top:0; margin-bottom:0; font-size:0.9em; text-align: center; font-weight:bold; } /* Section reference range */
p.r { margin-top:0; margin-bottom:0; font-size:0.75em; text-align: center; font-style:italic; } /* Parallel references */
p.cl { margin-top:2.0em; margin-bottom:0; text-align:center; font-size:1.2em; }
p.d { font-style:italic; }
p.sp { font-weight:bold; } /* Speaker */
p.p { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.pi1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.pi2 { margin-left:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.pc { text-align: center; }
p.pm { margin-top:0.2em; margin-bottom:0.2em; }
p.pmo { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.pmc { margin-top:0.2em; margin-bottom:0.2em; }
p.pmr { margin-top:0.2em; margin-bottom:0.2em; }
p.m { margin-top:0.2em; margin-bottom:0.2em; }
p.mi {}
p.q1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.q2 { margin-left:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.q3 { margin-left:3em; margin-top:0.2em; margin-bottom:0.2em; }
p.q4 { margin-left:4em; margin-top:0.2em; margin-bottom:0.2em; }
p.qm1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.qm2 { margin-left:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.qr { text-align:right; }
p.qc { text-align: center; }
p.qa { font-size:0.9em; text-align: right; margin-top:0.2em; margin-bottom:0.1em; } /* Acrostic heading */
p.qs { font-style:italic; } /* Selah */
p.nb {}

span.nd {}
span.ndORD { font-size:.75em; text-decoration:overline; text-decoration-style:dashed; text-decoration-color:purple; }
span.wj { color:saddlebrown; }
span.qt { font-style:italic; }
span.sc { font-size:0.8em; } /* Small caps */
span.sig { font-family:cursive; }
span.rem { font-size:0.8em; color:grey; }
span.wh { font-style:italic; }
span.qs { font-style:italic; } /* Selah */
span.qac { color:darkOrchid; font-style:italic; } /* Acrostic letter */
span.jmp {}
span.t4tFoS { color:seaGreen; } /* T4T Figure of Speech */
span.add { color:grey; font-style:italic; }
span.k {} /* keyterm used in WEB GLS */

p.KJB-1611_chapterIntro { font-size:0.8em; color: grey; font-family:UnifrakturCook,"New Rocker","Unifraktur Maguntia","Germania One",Astloch,textura,schwabacher,rotunda,bastarda,blankenburg,cursive; }

span.BrTr_chapterIntro {}
span.BSB_chapterIntro {}
span.FBV_chapterIntro {}
span.KJB-1611_chapterIntro { font-size:0.8em; color: grey; font-family:UnifrakturCook,"New Rocker","Unifraktur Maguntia","Germania One",Astloch,textura,schwabacher,rotunda,bastarda,blankenburg,cursive; }
span.KJB-1769_chapterIntro {}
span.LEB_chapterIntro {}
span.OEB_chapterIntro {}
span.RV_chapterIntro {}
span.ULT_chapterIntro {}
span.WEBBE_chapterIntro {}
span.WEB_chapterIntro {}

span.AICNT_verseTextChunk {}
span.ASV_verseTextChunk {}
span.Bshps_verseTextChunk {}
span.BBE_verseTextChunk {}
span.BLB_verseTextChunk {}
span.BrLXX_verseTextChunk {}
span.BrTr_verseTextChunk {}
span.BSB_verseTextChunk {}
span.Cvdl_verseTextChunk {}
span.Drby_verseTextChunk {}
span.DRA_verseTextChunk {}
span.FBV_verseTextChunk {}
span.Gnva_verseTextChunk {}
span.JPS_verseTextChunk {}
span.KJB-1611_verseTextChunk { font-family:UnifrakturCook,"New Rocker","Unifraktur Maguntia","Germania One",Astloch,textura,schwabacher,rotunda,bastarda,blankenburg,cursive; }
span.add_KJB-1611 { vertical-align:middle; position:relative; top:-0.1em; font-size:0.8em; color: grey; }
span.KJB-1769_verseTextChunk {}
span.LEB_verseTextChunk {}
span.LSV_verseTextChunk {}
span.Moff_verseTextChunk {}
span.NET_verseTextChunk {}
span.OEB_verseTextChunk {}
span.RV_verseTextChunk {}
span.SBL-GNT_verseTextChunk {}
span.SR-GNT_verseTextChunk {}
span.T4T_verseTextChunk {}
span.TC_verseTextChunk {}
span.TCNT_verseTextChunk {}
span.TNT_verseTextChunk {}
span.UGNT_verseTextChunk {}
span.UHB_verseTextChunk { font-family: Alef,"Noto Sans Hebrew","SBL Hebrew","Ezra SIL"; }
span.ULT_verseTextChunk {}
span.UST_verseTextChunk {}
span.Wbstr_verseTextChunk {}
span.WEBBE_verseTextChunk {}
span.WEB_verseTextChunk {}
span.Wymth_verseTextChunk {}
span.WMBB_verseTextChunk {}
span.WMB_verseTextChunk {}
span.Wycl_verseTextChunk {}
span.YLT_verseTextChunk {}

/* USFM footnotes */
div.footnotes {}
p.fn { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.fnCaller { vertical-align:super; font-size:0.7em; color:green; }
/* span.enCaller { vertical-align:super; font-size:0.7em; color:yellow; } */
span.fnRef { font-weight:bold; }
span.fnText {}
/* span.fe {} */
span.fk { font-style:italic; font-weight:bold; }
span.fl { font-style:italic; font-weight:bold; }
/* span.fm { vertical-align:super; } */
span.fp {}
span.fq { font-style:italic; }
span.fqa { font-style:italic; }
span.ft {}
span.fv { vertical-align:super; }
/* span.fw {} */

/* USFM cross-references */
div.crossRefs {}
p.xr { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.xrText {}
span.xt {}
span.xrCaller { vertical-align:super; font-size:0.7em; color:blue; }
span.xrRef { font-weight:bold; }
/* span.rq { font-style:italic; } */
/* span.xk { font-style:italic; } */
/* span.xnt {} */
/* span.xop {} */
/* span.xot {} */
/* span.xq { font-style:italic; } */
/* span.xta {} */

span.tl {}

/* NET Bible notes spans -- only used in TEST versions */
span.fn { font-weight:bold; color:blue } /* NET footnote number */
span.es {} /* e shwa -- should be replaced with actual shwa now */
span.fx { font-weight:bold; } /* footnote cross-reference */
span.ver { font-weight:bold; } /* version abbreviation */
span.src { font-weight:bold; } /* manuscript source abbreviation */
span.heb { font-weight:bold; color:orange; }
span.grk { font-weight:bold; color:darkgreen; }
span.theb { color:grey; } /* transliteration */
span.tgrk { color:grey; } /* transliteration */
