/* InterlinearVerse.css */
/* Contains a single verse with translation and morphology etc, for each word
    as well as translation notes */
body.container { background-color:powderblue; display:grid; }
div.header {}
div.footer { margin:50px; }

p.site {}
p.copyright {}
p.note {}
p.thanks {}

/* span.upLink { font-size:1.5em; font-weight:bold; } */

/* Links */
/* a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; } */
a { text-decoration:none; }

/* Navigational lists at top of page */
p.wrkLst { background-color:#904471; color:#98a9d4; }
.wrkLst a { text-decoration:none; color:white; }
/* p.viewLst {background-color:#936EA1; color:#98a9d4; } */
/* .viewLst a { text-decoration:none; color:white; } */
p.bkLst {background-color:#F9F871; }
.bkLst a { color:inherit; text-decoration:none; }
p.chLst {background-color:paleGreen; }
.chLst a { text-decoration:none; }
p.vsLst {background-color:mistyRose; }
.vsLst a { text-decoration:none; }

/* For bkList class */
span.XX { color:purple; }
.XX a { text-decoration:none; }
span.OT { color:saddlebrown; }
.OT a { text-decoration:none; }
span.NT { color:darkgreen; }
.NT a { text-decoration:none; }
span.DC { color:orange; font-size:smaller; }
.DC a { text-decoration:none; }
span.noBook {}
span.selectedBook { color:Gainsboro; }

/* Navs are the ones with arrows */
/* p.cNav { text-align:center; font-size:1.8em; background-color:#98a9d4; } */
/* .cNav a { text-decoration:none; } */
p.vNav { text-align:center; font-size:1.8em; }
/* .vNav a { text-decoration:none; }
.footnotes a { text-decoration:none; }
.crossRefs a { text-decoration:none; } */

/* div.interlinear {
    background:hsla(55, 99%, 80%, 50);
    padding:5px;
    overflow:auto;
    margin:1em 0;
} */
div.UTN {
    background:hsla(55, 99%, 80%, 50);
    padding:5px;
    overflow:auto;
    margin:1em 0;
    display: block;
}
div.LV {
    background:hsla(55, 99%, 80%, 50);
    padding:5px;
    overflow:auto;
    margin:1em 0;
    display: block;
}
div.RV {
    background:hsla(55, 99%, 80%, 50);
    padding:5px;
    overflow:auto;
    margin:1em 0;
    display: block;
}

/* p.LV {
    background:hsla(55, 99%, 80%, 50);
    padding:5px;
    overflow:auto;
    margin:1em 0;
}

p.RV {
    background:hsla(55, 99%, 80%, 50);
    padding:5px;
    overflow:auto;
    margin:1em 0;
    } */
p.LV {}

ol {
    list-style-type:none;
}
ol.verse {
    display:inline;
}
ol.verse li[lang=he]{
    font-family:NotoSans, sans-serif;
    font-weight:bold;
}
ol.verse li[lang=el]{
    font-weight:bold;
}
ol.verse li[lang=en]{
    font-weight:bold;
}
ol.verse li[lang=he_LEMMA]{
    color:gray;
}
ol.verse li[lang=el_LEMMA]{
    color:gray;
}
/* ol.verse li[lang=en_LEMMA]{
}
ol.verse li[lang=TRANS]{
} */
ol.verse li[lang=en_TRANS]{
    font-family:"Times New Roman", Times, serif;
    font-size:120%;
}
/* ol.verse li[lang=en_TRANS2]{
    font-family:"Times New Roman", Times, serif;
    color:maroon;
} */
ol.verse li[lang=en_GLOSS]{
    color:darkOrange;
    font-family:"Times New Roman", Times, serif;
}

ol.verse li[lang=en_STRONGS]{
    font-family:monospace, "Courier New", Courier;
    font-size:70%;
    color:green;
}
ol.verse li[lang=en_STRONGS] a:link {
    color:green;
    text-decoration:none;
}
ol.verse li[lang=en_STRONGS] a:hover {
    text-decoration:underline;
}

ol.verse li[lang=en_MORPH]{
    font-family:monospace, "Courier New", Courier;
    font-size:60%;
    color:orange;
}

ol.verse li[lang=en_CAPS]{
    font-size:60%;
}
ol.verse li[lang=en_PERCENT]{
    color:olive;
    font-size:60%;
}
ol.verse li[lang=en_TAGS]{
    font-size:60%;
    color:saddleBrown;
}

ol.verse li[lang=en_WORDNUM]{
    font-size:60%;
}
ol.verse li[lang=en_WORDNUM] a:link {
    color:dodgerBlue;
    text-decoration:none;
}
ol.verse li[lang=en_WORDNUM] a:hover {
    text-decoration:underline;
}

ol.titles {
    padding:.5em;
    margin-bottom:.5em;
    background:gold;
    float:left;
    border:1px dotted #ccc;
    display:inline-block;
}
ol.word {
    padding:.5em;
    margin-bottom:.5em;
    background:white;
    float:left;
    border:1px dotted #ccc;
    display:inline-block;
}
ol.variant {
    padding:.5em;
    margin-bottom:.5em;
    background:LightGray;
    float:left;
    border:1px dotted #ccc;
    display:inline-block;
}
p.ilNote {}

table, th, td { border:1px solid black; border-collapse:collapse; }
table tr:nth-child(even) { background-color:#eee; }
table tr:nth-child(odd) { background-color:#fff; }
table th { color:white; background-color:black; }
th, td { padding:15px; text-align:center; }

span.wrkName {}

/* Header USFM */
/* p.h { font-weight:bold; } */
/* p.mt1 { text-align:center; font-size:1.8em; } */
/* p.mt2 { text-align:center; font-size:1.3em; } */
/* p.mt1 + p.mt2, p.mt2 + p.mt1 { margin-top:-0.5em; } */
/* p.rem { font-size:0.8em; color:grey; } */

/* Book intro USFM */
/* li.intro { margin-top:0.5em; margin-bottom:0.5em; } */
/* p.is1 { font-weight:bold; font-size:1.3em; } */
/* p.is2 { font-weight:bold; } */
/* p.iot { font-weight:bold; } */
/* p.io1 { text-indent:2em; margin-top:0.2em; margin-bottom:0.2em; } */
/* span.ior { font-weight:bold; } */
/* span.bk { font-style:italic; } */

/* Chapters USFM */
span.c { font-size:1.1em; color:green; }
/* span.cPsa { font-size:1.6em; font-weight:bold; color:green; } */
span.v { vertical-align:super; font-size:0.5em; color:red; }
/* span.cv { vertical-align:super; font-size:0.8em; color:orange; } */
/* span.vp { vertical-align:super; font-size:0.5em; color:purple; } */
span.noVerse {} /* We don't have that verse */
span.d { font-family:sans-serif; font-size:0.85em; color:sienna; }
/* p.s1 { margin-top:0.1em; margin-bottom:0; font-weight:bold; } */
/* p.mr { margin-top:0; margin-bottom:0; font-size:1.1em; text-align: center; font-style:italic; } Major section reference range */
/* p.sr { margin-top:0; margin-bottom:0; font-size:0.9em; text-align: center; font-weight:bold; } Section reference range */
/* p.r { margin-top:0; margin-bottom:0; font-size:0.75em; text-align: center; font-style:italic; } Parallel references */
/* p.p { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; } */
/* p.q1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; } */
/* p.q2 { margin-left:2em; margin-top:0.2em; margin-bottom:0.2em; } */
/* p.m {  } */
span.li1 {} /* Why's this a span??? */

/* NT spans */
span.nominaSacra { font-weight:bold; }
span.nd {}
span.ndORD { font-size:.75em; text-decoration:overline; text-decoration-style:dashed; text-decoration-color:purple; }
span.wj { color:saddlebrown; }
span.sc { font-size:0.8em; } /* Small caps */
span.sig { font-family:cursive; }
span.ul { color:darkGrey; }
/* span.SR-GNT_trans {} */

/* OT spans */
span.qs { font-style:italic; } /* Selah */
span.synonParr { vertical-align:super; font-size:0.8em; color:green; } /* Hebrew synonymous parallelism */
span.antiParr { vertical-align:super; font-size:0.8em; color:orangeRed; } /* Hebrew antithetic parallelism */
span.synthParr { vertical-align:super; font-size:0.8em; color:blue; } /* Hebrew synthetic parallelism */

/* OET add spans */
span.addArticle { color:bisque; } */
/* span.unusedArticle { color:lavender; } */
span.addCopula { color:pink; }
span.addDirectObject { color:brown; }
span.addExtra { color:lightGreen; }
span.addElided { color:darkgoldenrod; }
span.addOwner { color:darkOrchid; }
span.addPronoun { color:darkgreen; }
span.addReferent { color:darkblue; }
span.addPluralised { color:darkcyan; }
span.addNegated { color:darkred; }
span.addReword { text-decoration:underline; text-decoration-style: dotted; text-decoration-color:grey; }
span.RVadd { color:#505050; } /* Darker than dimGrey which is #696969 (black is #000000) */
span.add { color:grey; }
span.untr { font-size:0.8em; color:grey; text-decoration:line-through; }
span.unsure { text-decoration:underline; text-decoration-style: dotted; text-decoration-color: orange; }

/* USFM footnotes */
div.footnotes {}
p.fn { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.fnCaller { vertical-align:super; font-size:0.7em; color:green; }
/* span.enCaller { vertical-align:super; font-size:0.7em; color:green; } */
span.fnRef { font-weight:bold; }
span.fnText { }
/* span.fe {} */
/* span.fk { font-style:italic; font-weight:bold; } */
/* span.fl { font-style:italic; font-weight:bold; } */
/* span.fm { vertical-align:super; } */
/* span.fp {} */
/* span.fq { font-style:italic; } */
/* span.fqa { font-style:italic; } */
span.ft {}
/* span.fv { vertical-align:super; } */
/* span.fw {} */
span.xt {}

/* USFM cross-references */
/* div.crossRefs {} */
/* p.xr { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; } */
/* span.xrCaller { vertical-align:super; font-size:0.7em; color:blue; } */
/* span.xrRef { font-weight:bold; } */
/* span.xrText {} */

/* Where do these come from??? One of the below! */
span.sup { vertical-align:super; }
span.sub { vertical-align:sub; }

/* Tyndale book intros */
/* p.intro-body-fl {} */
/* p.intro-sidebar-body-fl {} */
/* p.intro-overview {} */
/* p.intro-body {} */
/* p.intro-body-fl-sp {} */
/* p.intro-list {} */
/* p.intro-list-sp {} */
/* span.intro-h2 {} */
/* span.intro-h2-era {} */
span.era {}
span.greek {}

/* Tyndale SNs */
div.TSN {}
p.sn-text {}
span.sn-excerpt { font-family:Arial, Helvetica, sans-serif; color:saddleBrown; }
span.sn-excerpt-sc { font-family:Arial, Helvetica, sans-serif; color:saddleBrown; }
span.sn-excerpt-roman { font-family:'Times New Roman', Times, serif, Helvetica, sans-serif; color:saddleBrown; }
span.sn-ref {}
span.sn-ref-sc {}
span.ital { font-style:italic; } /* TODO: We need to fix these */
/* span.bold { font-weight:bold; } */
span.ital-bold { font-style:italic; font-weight:bold; }
span.hebrew { font-weight:bold; color:orange; }
span.aramaic { font-weight:bold; color:darkorchid; }
span.grk { font-weight:bold; color:darkgreen; } /* Also used in NET Bible footnotes */
span.latin { font-weight:bold; color:darkblue; }
span.divine-name-ital { font-style:italic; }

span.OET-LV_verseTextChunk {}
span.OET-RV_verseTextChunk {}

/* unfoldingWord translation notes (UTNs) */
p.UTN {}
p.OL { margin-bottom:0; color:indigo; }
p.Trans { margin-top:0; color:saddlebrown; }
p.Gram { font-style:italic; }
p.TARef {}

/* OSHB cases (also used for OET-RV and OET-LV) */
/* Used in <a> fields and in spans */
.hebVrb { background-color:khaki; }
.hebNeg { background-color:crimson; }
.hebEl { background-color:powderBlue; }
.hebYhwh { background-color:paleGreen; }

/* SR-GNT cases (also used for OET-RV and OET-LV) */
/* Used in <a> fields and in spans */
.grkNom { background-color:lightgreen; }
.grkAcc { background-color:orange; }
.grkGen { background-color:pink; }
.grkDat { background-color:cyan; }
.grkVoc { background-color:orchid; }
.grkVrb { background-color:khaki; }
.grkNeg { background-color:crimson; }
