/* Also used for OET sections and documents */
/* Paratext stylesheet is at https://github.com/ubsicap/usfm/blob/master/sty/usfm.sty */

body.container {}
div.header {}
div.footer { margin:50px; }
div.periph {}

p.site {}
p.copyright {}
p.note {}

div.RVLVcontainer { display:grid; column-gap:0.6em; grid-template-columns:0.50fr 0.50fr; }
div.chunkRV {}
div.chunkLV { font-size:0.9em; }
div.buttons {}

/* p.shortPrayer { text-align:center; } */
/* p.LVsentence { margin-top:0.2em; margin-bottom:0.2em; } */
/* span.upLink { font-size:1.5em; font-weight:bold; } */

/* Links */
/* a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; } */
a { color:inherit; text-decoration:none; }
/* .container a { text-decoration:none; } */

/* Navigational lists at top of page */
p.wrkLst { background-color:#904471; color:#98a9d4; }
.wrkLst a { text-decoration:none; color:white; }
p.viewLst {background-color:#936EA1; color:#98a9d4; }
.viewLst a { text-decoration:none; color:white; }
p.bkLst {background-color:#F9F871; }
.bkLst a { color:inherit; text-decoration:none; }
p.chLst {background-color:paleGreen; }
.chLst a { text-decoration:none; }
/* p.vsLst {background-color:mistyRose; } */
/* .vsLst a { text-decoration:none; } */

/* For bkList class */
span.XX { color:purple; }
.XX a { text-decoration:none; }
span.OT { color:saddlebrown; }
.OT a { color:inherit; text-decoration:none; }
span.NT { color:darkgreen; }
.NT a { color:inherit; text-decoration:none; }
span.DC { color:orange; font-size:smaller; }
.DC a { color:inherit; text-decoration:none; }
span.selectedBook { color:Gainsboro; }

/* Navs are the ones with arrows */
p.bkNav { text-align:center; font-size:2em; }
span.bkHead {}
p.secNav { text-align:center; font-size:1.8em; }
p.cNav { text-align:center; font-size:1.8em; background-color:#98a9d4; }
/* .cNav a { text-decoration:none; } */
/* p.vNav { text-align:center; font-size:1.8em; } */
/* .vNav a { text-decoration:none; } */
/* .footnotes a { text-decoration:none; } */
/* .crossRefs a { text-decoration:none; } */

/* Header USFM */
div.bookHeader {}
div.bookIntro {}
p.id,p.rem { font-size:0.8em; color:grey; }
p.id + p.rem, p.rem + p.rem { margin-top:-1.1em; }
p.h { font-weight:bold; }
p.mt1 { text-align:center; font-size:1.8em; }
p.mt2 { text-align:center; font-size:1.3em; }
p.mt3 { text-align:center; font-size:1.2em; }
p.mt1 + p.mt2, p.mt2 + p.mt1, p.mt2 + p.mt3, p.mt3 + p.mt2, p.mt1 + p.mt3, p.mt3 + p.mt1 { margin-top:-0.5em; }
p.ms1 { font-weight:bold; font-size:1.5em; }
p.mr { margin-top:0; margin-bottom:0; font-size:1.1em; text-align: center; font-style:italic; } /* Major section reference range */

/* Book intro USFM */
li.intro { margin-top:0.5em; margin-bottom:0.5em; }
p.imt1 { text-align:center; font-size:1.8em; }
p.imt2 { text-align:center; font-size:1.3em; }
p.is1 { font-weight:bold; font-size:1.3em; }
p.is2 { font-weight:bold; }
div.iot {}
p.iot { font-weight:bold; }
p.io1 { text-indent:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.io2 { text-indent:4em; margin-top:0.2em; margin-bottom:0.2em; }
p.ip { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.im { margin-top:0.2em; margin-bottom:0.2em; }
span.ior { font-weight:bold; } /* font-style:italic; */
span.bk { font-style:italic; }

/* Section headings list */
/* p.sectionHeading { } */
/* p.alternateHeading { margin-top:0.1em; margin-bottom:0.1em; margin-left:1em; font-size:0.8em; color:grey; } */
/* p.sectionHeading + p.alternateHeading { margin-top:-1.2em; } */
/* p.alt_s1 { margin-top:0.1em; margin-bottom:0; text-align:right; font-size:0.6em; color:silver; font-weight:bold; } */
/* p.alt_r { margin-top:0.1em; margin-bottom:0; text-align:right; font-size:0.5em; color:silver; } */

/* Inside box */
div.section {}
div.rightS1Box { float:right; width:40%; border:3px solid #73AD21; padding:0.2em; }
div.rightS2Box { float:right; width:35%; border:2px dashed blue; padding:0.2em; }
p.s1 { margin-top:0.1em; margin-bottom:0; font-size:1.15em; font-weight:bold; }
p.s2 { margin-top:0.1em; margin-bottom:0; font-size:1.1em; font-weight:bold; }
/* p.s2 { margin-top:0; margin-bottom:0; float:right; width:35%; border:2px dashed blue; padding:0.2em; font-size:1.1em; font-weight:bold; } */
p.s3 { margin-top:0; margin-bottom:0; float:right; width:35%; border:1px dotted purple; padding:0.2em;  font-size:1.06em; font-weight:bold; }
p.s4 { margin-top:0; margin-bottom:0; float:right; width:35%; border:1px dotted black; padding:0.2em;  font-size:1.03em; font-weight:bold; }
/* p.extra_s1 { margin-top:0.1em; margin-bottom:0; text-align:right; font-size:0.7em; color:grey; font-weight:bold; } */
/* p.extra_r { margin-top:0.1em; margin-bottom:0; text-align:right; font-size:0.6em; color:grey; } */
p.sr { margin-top:0; margin-bottom:0; font-size:0.9em; text-align: center; font-weight:bold; } /* Section reference range */
p.r { margin-top:0; margin-bottom:0; font-size:0.75em; text-align: center; font-style:italic; } /* Parallel references */
p.PromisedLand { color:gold; }
p.FullKingdom { color:blue; }
p.NorthernKingdom { color:purple; }
p.SouthernKingdom { color:green; }
p.BothKingdoms { color:orange; }

/*** Other divs ***/
/* For /s4 */
div.PromisedLand { background-color:LightGoldenrodYellow; }
div.FullKingdom { background-color:#cce6ff; }
div.NorthernKingdom { background-color:#ffe6ff; }
div.SouthernKingdom { background-color:#e6ffe6; }
div.BothKingdoms { background-color:#fff5e6; }
/* For /sp in SNG */
div.groom { background-color:#e6f2ff; }
div.bride { background-color:#ffe6f7; }
div.women { background-color:#f2ccff; }
div.brothers { background-color:#e6f0ff; }

/* Chapters USFM */
span.c { font-size:1.1em; color:green; }
span.cPsa { font-size:1.6em; font-weight:bold; color:green; }
span.v { vertical-align:super; font-size:0.5em; color:red; }
span.cv { vertical-align:super; font-size:0.8em; color:orange; }
span.s1cv { vertical-align:super; font-size:0.8em; color:pink; }
span.vp { vertical-align:super; font-size:0.5em; color:purple; }
p.d { font-style:italic; }
p.sp { font-weight:bold; } /* Speaker */
p.p { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.pi1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.pc { text-align: center; }
p.pm { margin-top:0.2em; margin-bottom:0.2em; }
/* p.pmo { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; } */
/* p.pmc { margin-top:0.2em; margin-bottom:0.2em; } */
/* p.pmr { margin-top:0.2em; margin-bottom:0.2em; } */
p.m { margin-top:0.2em; margin-bottom:0.2em; }
p.mi {}
p.q1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.q2 { margin-left:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.qa { font-size:0.9em; text-align: right; margin-top:0.2em; margin-bottom:0.1em; } /* Acrostic heading */
p.nb {}

span.nd {}
span.ndORD { font-size:.75em; text-decoration:overline; text-decoration-style:dashed; text-decoration-color:purple; }
span.wj { color:saddlebrown; }
span.sc { font-size:0.8em; } /* Small caps */
span.qs { font-style:italic; } /* Selah */
span.sig { font-family:cursive; }
span.rem { font-size:0.8em; color:grey; }
span.wh {}

span.OET-LV_verseTextChunk {}
span.OET-RV_verseTextChunk {}

/* USFM footnotes */
div.footnotes {}
p.fn { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.fnCaller { vertical-align:super; font-size:0.7em; color:green; }
/* span.enCaller { vertical-align:super; font-size:0.7em; color:yellow; } */
span.fnRef { font-weight:bold; }
span.fnText {}
span.ft {}
span.fq {}
span.fqa {}
span.fl {}

/* USFM cross-references */
div.crossRefs {}
p.xr { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.xrText {}
span.xrCaller { vertical-align:super; font-size:0.7em; color:blue; }
span.xrRef { font-weight:bold; }
/* span.xrText { } */
span.xt {}

/* OET specialist ADD subfields */
span.addArticle { color:bisque; }
span.unusedArticle { color:lavender; }
span.addCopula { color:pink; }
span.addDirectObject { color:brown; }
span.addExtra { color:lightGreen; }
span.addElided { color:darkgoldenrod; }
span.addOwner { color:darkOrchid; }
span.addPronoun { color:darkgreen; }
span.addReferent { color:darkblue; }
span.addPluralised { color:darkcyan; }
span.addNegated { color:darkred; }
span.addReword { text-decoration:underline; text-decoration-style: dotted; text-decoration-color:grey; }
span.RVadd { color:#505050; } /* Darker than dimGrey which is #696969 (black is #000000) */
span.add { color:grey; }
span.untr { font-size:0.8em; color:grey; text-decoration:line-through; }
span.unsure { text-decoration:underline; text-decoration-style: dotted; text-decoration-color: orange; }

span.ul { color:darkGrey; }
/* span.dom { color:Gainsboro; font-size:0.75em; } */
/* span.schwa { font-size:0.75em; } */
span.nominaSacra { font-weight:bold; }
span.synonParr { vertical-align:super; font-size:0.8em; color:green; } /* Hebrew synonymous parallelism */
span.antiParr { vertical-align:super; font-size:0.8em; color:orangeRed; } /* Hebrew antithetic parallelism */
span.synthParr { vertical-align:super; font-size:0.8em; color:blue; } /* Hebrew synthetic parallelism */

/* OSHB cases (also used for OET-RV and OET-LV) */
/* Used in anchors and in spans */
/* Not sure that we want chapters coloured */
.hebVrb {} /* { background-color:khaki; } */
.hebNeg {} /* { background-color:crimson; } */
.hebEl {} /* { background-color:powderBlue; } */
.hebYhwh {} /* { background-color:paleGreen; } */

/* SR-GNT cases (also used for OET-RV and OET-LV) */
/* Used in anchors and in spans */
/* Not sure that we want chapters coloured */
.grkNom {} /* { background-color:lightgreen; } */
.grkAcc {} /* { background-color:orange; } */
.grkGen {} /* { background-color:pink; } */
.grkDat {} /* { background-color:cyan; } */
.grkVoc {} /* { background-color:orchid; } */
.grkVrb {} /* { background-color:khaki; } */
.grkNeg {} /* { background-color:crimson; } */

/* BibleMapper.com Maps */
div.parallelBMM {}
h2.mapTitle {}
p.mapSubtitle {}
p.mapRefs { font-weight:bold; }
p.mapDescription {}
