div.header {}
div.footer { margin:50px; }

p.site {}
p.copyright {}
p.note {}

span.upLink { font-size:1.5em; font-weight:bold; }

/* Links */
/* a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; } */
a { color:inherit; text-decoration:none; }

/* Navigational lists at top of page */
p.wrkLst { background-color:#904471; color:98a9d4; }
.wrkLst a { text-decoration:none; color:white; }
p.viewLst {background-color:#936EA1; color:98a9d4; }
.viewLst a { text-decoration:none; color:white; }
p.bkLst {background-color:#F9F871; }
.bkLst a { color:inherit; text-decoration:none; }
p.chLst {background-color:paleGreen; }
.chLst a { text-decoration:none; }
p.vsLst {background-color:mistyRose; }
.vsLst a { text-decoration:none; }

/* For bkList class */
span.XX { color:purple; }
.XX a { text-decoration:none; }
span.OT { color:saddlebrown; }
.OT a { color:inherit; text-decoration:none; }
span.NT { color:darkgreen; }
.NT a { color:inherit; text-decoration:none; }
span.DC { color:orange; font-size:smaller; }
.DC a { color:inherit; text-decoration:none; }

/* Navs are the ones with arrows */
p.cNav { text-align:center; font-size:1.8em; background-color:#98a9d4; }
/* .cNav a { text-decoration:none; } */
p.vNav { text-align:center; font-size:1.8em; }
/* .vNav a { text-decoration:none; }
.footnotes a { text-decoration:none; }
.crossRefs a { text-decoration:none; } */

/* Header USFM */
div.bookHeader {}
div.bookIntro {}
p.id,p.rem { font-size:0.8em; color:grey; }
p.id + p.rem, p.rem + p.rem { margin-top:-1.1em; }
p.h { font-weight:bold; }
p.mt1 { text-align:center; font-size:1.8em; }
p.mt2 { text-align:center; font-size:1.3em; }
p.mt3 { text-align:center; font-size:1.2em; }
p.mt1 + p.mt2, p.mt2 + p.mt1 { margin-top:-0.5em; }
p.ms1 { font-weight:bold; font-size:1.5em; }
p.ms2 { font-weight:bold; font-size:1.3em; }

p.parallelVerse {}
p.closeVerse { margin-top:-1em; }

span.BRN_chapterIntro {}
span.BSB_chapterIntro {}
span.FBV_chapterIntro {}
span.KJB-1611_chapterIntro { font-size:0.8em; color:grey; font-family:UnifrakturCook,"New Rocker","Unifraktur Maguntia","Germania One",Astloch,textura,schwabacher,rotunda,bastarda,blankenburg,cursive; }
span.KJB-1769_chapterIntro {}
span.LEB_chapterIntro {}
span.OEB_chapterIntro {}
span.RV_chapterIntro {}
span.ULT_chapterIntro {}
span.WEB_chapterIntro {}

span.AICNT_verseTextChunk {}
span.ASV_verseTextChunk {}
span.BB_verseTextChunk {}
span.BBE_verseTextChunk {}
span.BLB_verseTextChunk {}
span.BrLXX_verseTextChunk {}
span.BRN_verseTextChunk {}
span.BSB_verseTextChunk {}
span.CB_verseTextChunk {}
span.CLV_verseTextChunk {}
span.DBY_verseTextChunk {}
span.DRA_verseTextChunk {}
span.FBV_verseTextChunk {}
span.GNV_verseTextChunk {}
span.JPS_verseTextChunk {}
span.KJB-1611_verseTextChunk { font-family:UnifrakturCook,"New Rocker","Unifraktur Maguntia","Germania One",Astloch,textura,schwabacher,rotunda,bastarda,blankenburg,cursive; }
span.add_KJB-1611 { vertical-align:middle; position:relative; top:-0.1em; font-size:0.8em; color: grey; }
span.KJB-1769_verseTextChunk {}
span.LEB_verseTextChunk {}
span.LSV_verseTextChunk {}
span.LUT_verseTextChunk {}
span.MOF_verseTextChunk {}
span.NET_verseTextChunk {}
span.OEB_verseTextChunk {}
span.OET-LV_verseTextChunk {}
span.OET-RV_verseTextChunk {}
span.RV_verseTextChunk {}
span.SBL-GNT_verseTextChunk {}
span.SR-GNT_verseTextChunk {}
span.T4T_verseTextChunk {}
span.TC_verseTextChunk {}
span.TC-GNT_verseTextChunk {}
span.TCNT_verseTextChunk {}
span.TNT_verseTextChunk {}
span.UGNT_verseTextChunk {}
span.UHB_verseTextChunk { font-family: Alef,"Noto Sans Hebrew","SBL Hebrew","Ezra SIL"; }
span.ULT_verseTextChunk {}
span.UST_verseTextChunk {}
span.WBS_verseTextChunk {}
span.WEB_verseTextChunk {}
span.WMB_verseTextChunk {}
span.WYC_verseTextChunk {}
span.YLT_verseTextChunk {}

span.BB_mod { font-family:sans-serif; font-size:0.85em; }
span.CB_mod { font-family:sans-serif; font-size:0.85em; }
span.CLV_trans { font-family:sans-serif; font-size:0.85em; }
span.GNV_mod { font-family:sans-serif; font-size:0.85em; }
span.KJB-1769_mod { font-family:sans-serif; font-size:0.85em; }
span.KJB-1611_mod { font-family:sans-serif; font-size:0.85em; }
span.LUT_trans { font-family:sans-serif; font-size:0.85em; }
span.TNT_mod { font-family:sans-serif; font-size:0.85em; }
span.WYC_mod { font-family:sans-serif; font-size:0.85em; }

span.BrLXX_trans { font-family:sans-serif; font-size:0.85em; }
span.SBL-GNT_trans { font-family:sans-serif; font-size:0.85em; }
span.SR-GNT_trans { font-family:sans-serif; font-size:0.85em; }
span.TC-GNT_trans { font-family:sans-serif; font-size:0.85em; }
span.UGNT_trans { font-family:sans-serif; font-size:0.85em; }
span.UHB_trans { font-family:sans-serif; font-size:0.85em; }

div.hideables {}
span.noBook {}

/* Our book intro USFM */
li.intro { margin-top:0.5em; margin-bottom:0.5em; }
p.imt1 { text-align:center; font-size:1.8em; }
p.is1 { font-weight:bold; font-size:1.3em; }
p.is2 { font-weight:bold; }
div.iot {}
p.iot { font-weight:bold; }
p.io1 { text-indent:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.io2 { text-indent:4em; margin-top:0.2em; margin-bottom:0.2em; }
p.ip { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.im { margin-top:0.2em; margin-bottom:0.2em; }
span.ior { font-weight:bold; }
span.bk { font-style:italic; }

/* Chapters USFM */
span.c { font-size:1.1em; color:green; }
span.ca { font-size:1.1em; color:blue; }
span.cPsa { font-size:1.6em; font-weight:bold; color:green; }
span.v { vertical-align:super; font-size:0.5em; color:red; }
span.va { vertical-align:super; font-size:0.5em; color:crimson; }
span.vp { vertical-align:super; font-size:0.5em; color:purple; }
span.cv { vertical-align:super; font-size:0.8em; color:orange; }
span.noVerse {} /* We don't have that verse */
span.d { font-style:italic; color:sienna; }
div.s1 {}
p.s1 { margin-top:0.1em; margin-bottom:0; font-weight:bold; }
/* p.mr { margin-top:0; margin-bottom:0; font-size:1.1em; text-align: center; font-style:italic; } Major section reference range */
/* p.sr { margin-top:0; margin-bottom:0; font-size:0.9em; text-align: center; font-weight:bold; } Section reference range */
p.r { margin-top:0; margin-bottom:0; font-size:0.75em; text-align: center; font-style:italic; } /* Parallel references */
p.p { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.q1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.q2 { margin-left:2em; margin-top:0.2em; margin-bottom:0.2em; }
/* p.m {  } */
span.li1 {} /* Why's this a span??? */
span.li2 {} /* Why's this a span??? */
span.li3 {} /* Why's this a span??? */
span.w {}

/* NT spans */
span.nominaSacra { font-weight:bold; }
span.nd {}
span.wj { color:saddlebrown; }
span.sc { font-size:0.8em; } /* Small caps */
span.qs { font-style:italic; } /* Selah */
span.qt { font-style:italic; }
span.sig { font-family:cursive; }
span.t4tFoS { color:mediumvioletred; } /* T4T Figure of speech */
span.ul { color:darkGrey; }

/* OT spans */
span.parr { vertical-align:super; font-size:0.8em; color:green; } /* Hebrew parallelism */

span.tl {}
span.wh { font-style:italic; }
span.jmp {}

/* NET Bible notes spans */
span.fn { font-weight:bold; color:blue } /* NET footnote number */
span.es {} /* e shwa -- should be replaced with actual shwa now */
span.fx { font-weight:bold; } /* footnote cross-reference */
span.ver { font-weight:bold; } /* version abbreviation */
span.src { font-weight:bold; } /* manuscript source abbreviation */
span.heb { font-weight:bold; color:orange; }
span.theb { color:grey; } /* transliteration */
span.tgrk { color:grey; } /* transliteration */

/* OET add spans */
span.addArticle { color:bisque; }
/* span.unusedArticle { color:lavender; } */
span.addCopula { color:pink; }
span.addDirectObject { color:brown; }
span.addExtra { color:lightGreen; }
span.addElided { color:darkgoldenrod; }
span.addOwner { color:darkOrchid; }
span.addPronoun { color:darkgreen; }
span.addReferent { color:darkblue; }
span.addPluralised { color:darkcyan; }
span.addNegated { color:darkred; }
span.addReword { text-decoration:underline; text-decoration-style: dotted; }
span.RVadd { color:#505050; } /* Darker than dimGrey which is #696969 (black is #000000) */
span.add { color:grey; }
span.untr { font-size:0.8em; color:grey; text-decoration:line-through; }
span.unsure { text-decoration:underline; text-decoration-style: dotted; text-decoration-color: orange; }

p.key { background-color:seaShell; font-size:0.8em; }

/* USFM footnotes */
div.footnotes {}
p.fn { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.fnCaller { vertical-align:super; font-size:0.7em; color:green; }
/* span.enCaller { vertical-align:super; font-size:0.7em; color:green; } */
span.fnRef { font-weight:bold; }
span.fnText { }
span.fe {}
span.fk { font-style:italic; font-weight:bold; }
span.fl { font-style:italic; font-weight:bold; }
span.fm { vertical-align:super; }
span.fp {}
span.fq { font-style:italic; }
span.fqa { font-style:italic; }
span.ft {}
span.fv { vertical-align:super; }
span.fw {}

/* USFM cross-references */
div.crossRefs {}
p.xr { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.xrCaller { vertical-align:super; font-size:0.7em; color:blue; }
span.xrRef { font-weight:bold; }
span.xrText {}
span.xt {}

/* OSHB cases (also used for OET-RV and OET-LV) */
/* Used in <a> fields and in spans */
.hebVrb { background-color:khaki; }
.hebNeg { background-color:crimson; }
.hebEl { background-color:powderBlue; }
.hebYhwh { background-color:paleGreen; }

/* SR-GNT cases (also used for OET-RV and OET-LV) */
/* Used in <a> fields and in spans */
.grkNom { background-color:lightgreen; }
.grkAcc { background-color:orange; }
.grkGen { background-color:pink; }
.grkDat { background-color:cyan; }
.grkVoc { background-color:orchid; }
.grkVrb { background-color:khaki; }
.grkNeg { background-color:crimson; }

/* Other GNT classes */
span.wrkName {}
span.wrkNameDiffPunct { background-color:yellow; }
span.wrkNameDiffAccents { background-color:orange; }
span.wrkNameDiffText { background-color:red; }

/* Where do these come from??? One of the below! */
span.sup { vertical-align:super; }
span.sub { vertical-align:sub; }

/* Tyndale Book Intro Summaries */
p.intro-title { text-align:center; font-size:1.8em; }
p.intro-sidebar-h1 { font-weight:bold; }
p.intro-h1 { font-weight:bold; }

/* Tyndale book intros */
div.parallelTBI {}
p.intro-body-fl {}
p.intro-sidebar-body-fl {}
p.intro-overview {}
p.intro-body {}
p.intro-body-fl-sp {}
p.intro-extract {}
p.intro-list {}
p.intro-list-sp {}
p.intro-poetry-1-sp {}
p.intro-poetry-2 {}
span.intro-h2 {}
span.intro-h2-era {}
span.era {}
span.bold-era {}
span.greek {}

/* Tyndale SNs */
div.parallelTSN {}
p.sn-text {}
span.sn-excerpt { font-family:Arial, Helvetica, sans-serif; color:saddleBrown; }
span.sn-excerpt-sc { font-family:Arial, Helvetica, sans-serif; color:saddleBrown; }
span.sn-excerpt-roman { font-family:'Times New Roman', Times, serif, Helvetica, sans-serif; color:saddleBrown; }
span.sn-ref {}
span.sn-ref-sc {}
span.ital { font-style:italic; } /* TODO: We need to fix these */
span.bold { font-weight:bold; }
span.ital-bold { font-style:italic; font-weight:bold; }
span.hebrew { font-weight:bold; color:orange; }
span.aramaic { font-weight:bold; color:darkorchid; }
span.grk { font-weight:bold; color:darkgreen; } /* Also used in NET Bible footnotes */
span.latin { font-weight:bold; color:darkblue; }
span.divine-name {}
span.divine-name-ital { font-style:italic; }

/* Tyndale TNs */
div.parallelTTN {}
p.theme-title { font-weight:bold; }
p.theme-refs-title { font-weight:bold; }
p.theme-h2 { font-weight:bold; }
p.theme-body-fl {}
p.theme-body-fl-sp {}
p.theme-body {}
p.theme-body-sp {}
p.theme-refs {}

/* unfoldingWord translation notes (UTNs) */
div.parallelUTN {}
p.TN {}
p.OL { margin-bottom:0; color:indigo; }
p.Trans { margin-top:0; color:saddlebrown; }
p.Gram { font-style:italic; }
p.TARef {}

/* BibleMapper.com Maps */
div.parallelBMM {}
h2.mapTitle {}
p.mapSubtitle {}
p.mapRefs { font-weight:bold; }
p.mapDescription {}
