/* Also used for OET sections and documents */
div.container1 {}
div.container2 { display:grid; column-gap:0.6em; grid-template-columns:0.5fr 0.5fr; }
div.container3 { display:grid; column-gap:0.5em; grid-template-columns:0.33fr 0.33fr 0.33fr; }
div.container4 { display:grid; column-gap:0.4em; grid-template-columns:0.25fr 0.25fr 0.25fr 0.25fr; }
div.container5 { display:grid; column-gap:0.4em; grid-template-columns:0.2fr 0.2fr 0.2fr 0.2fr 0.2fr; }
div.chunkRV {}

div.header {}
div.footer { width:500px; height:250px; margin:50px; }

p.site {}
p.copyright {}
p.note {}

/* p.shortPrayer { text-align:center; } */
/* p.LVsentence { margin-top:0.2em; margin-bottom:0.2em; } */
/* span.upLink { font-size:1.5em; font-weight:bold; } */

/* Links */
/* a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; } */
a { color:inherit; text-decoration:none; }
/* .container a { text-decoration:none; } */

/* Navigational lists at top of page */
p.wrkLst { background-color:#904471; color:98a9d4; }
.wrkLst a { text-decoration:none; color:white; }
/* p.viewLst {background-color:#936EA1; color:98a9d4; } */
/* .viewLst a { text-decoration:none; color:white; } */
p.bkLst {background-color:#F9F871; }
.bkLst a { color:inherit; text-decoration:none; }
/* p.chLst {background-color:paleGreen; } */
/* .chLst a { text-decoration:none; } */
/* p.vsLst {background-color:mistyRose; } */
/* .vsLst a { text-decoration:none; } */

/* For bkList class */
/* span.XX { color:purple; } */
/* .XX a { text-decoration:none; } */
span.OT { color:saddlebrown; }
.OT a { color:inherit; text-decoration:none; }
span.NT { color:darkgreen; }
.NT a { color:inherit; text-decoration:none; }
/* span.DC { color:orange; font-size:smaller; } */
/* .DC a { color:inherit; text-decoration:none; } */

/* Navs are the ones with arrows */
/* p.bkNav { text-align:center; font-size:2em; } */
/* span.bkHead { } */
p.secNav { text-align:center; font-size:1.8em; }
/* p.cNav { text-align:center; font-size:1.8em; background-color:#98a9d4; } */
/* .cNav a { text-decoration:none; } */
/* p.vNav { text-align:center; font-size:1.8em; } */
/* .vNav a { text-decoration:none; } */
/* .footnotes a { text-decoration:none; } */
/* .crossRefs a { text-decoration:none; } */

/* Header USFM */
div.bookHeader {}
div.bookIntro {}
p.id,p.rem { font-size:0.8em; color:grey; }
p.id + p.rem, p.rem + p.rem { margin-top:-1.1em; }
/* p.h { font-weight:bold; } */
p.mt1 { text-align:center; font-size:1.8em; }
p.mt2 { text-align:center; font-size:1.3em; }
p.mt1 + p.mt2, p.mt2 + p.mt1 { margin-top:-0.5em; }
p.ms1 { font-weight:bold; font-size:1.5em; }
/* p.ms2 { font-weight:bold; font-size:1.3em; } */

/* Book intro USFM */
/* li.intro { margin-top:0.5em; margin-bottom:0.5em; } */
/* p.imt1 { text-align:center; font-size:1.8em; } */
/* p.imt2 { text-align:center; font-size:1.3em; } */
p.is1 { font-weight:bold; font-size:1.3em; }
p.is2 { font-weight:bold; }
div.iot {}
p.iot { font-weight:bold; }
p.io1 { text-indent:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.io2 { text-indent:4em; margin-top:0.2em; margin-bottom:0.2em; }
p.ip { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.im { margin-top:0.2em; margin-bottom:0.2em; }
span.ior { font-weight:bold; } /* font-style:italic; */
span.bk { font-style:italic; }

/* Section headings list */
/* p.sectionHeading { } */
/* p.alternateHeading { margin-top:0.1em; margin-bottom:0.1em; margin-left:1em; font-size:0.8em; color:grey; } */
/* p.sectionHeading + p.alternateHeading { margin-top:-1.2em; } */
/* p.alt_s1 { margin-top:0.1em; margin-bottom:0; text-align:right; font-size:0.6em; color:silver; font-weight:bold; } */
/* p.alt_r { margin-top:0.1em; margin-bottom:0; text-align:right; font-size:0.5em; color:silver; } */

/* Inside box */
div.rightBox { float:right; width:35%; border:3px solid #73AD21; padding:0.2em; }
div.s1 {}
p.s1 { margin-top:0.1em; margin-bottom:0; font-weight:bold; }
p.s2 { margin-top:0.1em; margin-bottom:0; font-size:1.1em; }
p.s3 { margin-top:0.1em; margin-bottom:0; font-size:1.05em; }
p.mr { margin-top:0; margin-bottom:0; font-size:1.1em; text-align: center; font-style:italic; } /* Major section reference range */
p.sr { margin-top:0; margin-bottom:0; font-size:0.9em; text-align: center; font-weight:bold; } /* Section reference range */
p.r { margin-top:0; margin-bottom:0; font-size:0.75em; text-align: center; font-style:italic; } /* Parallel references */

/* Chapters USFM */
span.c { font-size:1.1em; color:green; }
span.cPsa { font-size:1.6em; font-weight:bold; color:green; }
span.v { vertical-align:super; font-size:0.5em; color:red; }
span.s1cv { vertical-align:super; font-size:0.8em; color:pink; }
p.d { font-style:italic; }
p.sp { font-weight:bold; } /* Speaker */
p.p { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.pi1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
/* p.pm { margin-top:0.2em; margin-bottom:0.2em; } */
/* p.pmo { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; } */
/* p.pmc { margin-top:0.2em; margin-bottom:0.2em; } */
/* p.pmr { margin-top:0.2em; margin-bottom:0.2em; } */
p.m { margin-top:0.2em; margin-bottom:0.2em; }
p.mi {}
p.q1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.q2 { margin-left:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.qa { font-weight:bold; } /* Acrostic heading */
p.nb {}

/* NT spans */
span.wj { color:saddlebrown; }
span.sig { font-family:cursive; }
span.rem { font-size:0.8em; color:grey; }
span.sc { font-size:0.8em; } /* Small caps */

/* OT spans */
span.parr { vertical-align:super; font-size:0.8em; color:green; }

/* OET add spans */
/* span.addArticle { color:bisque; } */
/* span.unusedArticle { color:lavender; } */
/* span.addCopula { color:pink; } */
span.addDirectObject { color:brown; }
span.addExtra { color:lightGreen; }
span.addElided { color:darkgoldenrod; }
/* span.addOwner { color:darkOrchid; } */
span.addPronoun { color:darkgreen; }
span.addReferent { color:darkblue; }
span.addPluralised { color:darkcyan; }
span.addNegated { color:darkred; }
span.addReword {} /*{ color:orange; }*/
span.RVadd { color:#505050; } /* Darker than dimGrey which is #696969 (black is #000000) */
/* span.add { color:grey; } */
/* span.untr { font-size:0.8em; color:grey; text-decoration:line-through; } */
span.unsure { text-decoration:underline; text-decoration-style: dotted; }

/* span.ul { color:darkGrey; } */
/* span.dom { color:Gainsboro; font-size:0.75em; } */
/* span.schwa { font-size:0.75em; } */
span.nominaSacra { font-weight:bold; }
/* span.nd {} */

/* USFM footnotes */
div.footnotes {}
p.fn { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.fnCaller { vertical-align:super; font-size:0.7em; color:green; }
/* span.enCaller { vertical-align:super; font-size:0.7em; color:green; } */
span.fnRef { font-weight:bold; }
span.fnText { }
/* span.fe {} */
/* span.fk { font-style:italic; font-weight:bold; } */
/* span.fl { font-style:italic; font-weight:bold; } */
/* span.fm { vertical-align:super; } */
/* span.fp {} */
/* span.fq { font-style:italic; } */
/* span.fqa { font-style:italic; } */
span.ft {}
/* span.fv { vertical-align:super; } */
/* span.fw {} */

/* USFM cross-references */
div.crossRefs {}
p.xr { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.xrCaller { vertical-align:super; font-size:0.7em; color:blue; }
span.xrRef { font-weight:bold; }
span.xrText {}

/* OSHB cases (also used for OET-RV and OET-LV) */
/* Used in <a> fields and in spans */
/* Not sure that we want chapters coloured */
.hebVrb {} /* { background-color:yellow; } */
.hebNeg {} /* { background-color:crimson; } */
.hebEl {} /* { background-color:powderBlue; } */
.hebYhwh {} /* { background-color:paleGreen; } */

/* SR-GNT cases (also used for OET-RV and OET-LV) */
/* Used in <a> fields and in spans */
/* Not sure that we want chapters coloured */
.grkNom {} /* { background-color:lightgreen; } */
.grkAcc {} /* { background-color:orange; } */
.grkGen {} /* { background-color:pink; } */
.grkDat {} /* { background-color:cyan; } */
.grkVoc {} /* { background-color:orchid; } */
.grkVrb {} /* { background-color:yellow; } */
.grkNeg {} /* { background-color:crimson; } */
