/* button#underlineButton { float:right; }
div.container { display:grid; column-gap:0.6em; grid-template-columns:0.85fr 1.15fr; }
div.BibleText { } */
div.footer { width: 500px; height: 250px; margin: 50px; }
div.rightBox { float:right; width:35%; border:3px solid #73AD21; padding:0.2em; }

span.upLink { font-size:1.5em; font-weight:bold; }

/* Links */
/* a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } */
a { text-decoration: none; }

p.wrkLst { background-color:#904471; color:98a9d4; }
.wrkLst a { text-decoration:none; color:white; }
p.viewLst {background-color:#936EA1; color:98a9d4; }
.viewLst a { text-decoration:none; color:white; }
p.bkLst {background-color:#F9F871 }

p.secNav { text-align:center; font-size:1.8em; }
p.cNav { text-align:center; font-size:1.8em; background-color:#98a9d4; }
/* .cNav a { text-decoration: none; } */
p.vNav { text-align:center; font-size:1.8em; }
/* .vNav a { text-decoration: none; }
.footnotes a { text-decoration: none; }
.crossRefs a { text-decoration: none; } */

/* Header USFM */
p.h { font-weight:bold; }
p.mt1 { text-align:center; font-size:1.8em; }
p.mt2 { text-align:center; font-size:1.3em; }
p.rem { font-size:0.8em; color:grey; }

/* Book intro USFM */
li.intro { margin-top:0.5em; margin-bottom:0.5em; }
p.imt1 { text-align:center; font-size:1.8em; }
p.imt2 { text-align:center; font-size:1.3em; }
p.is1 { font-weight:bold; font-size:1.3em; }
p.is2 { font-weight:bold; }
p.iot { font-weight:bold; }
p.io1 { text-indent:2em; margin-top:0.2em; margin-bottom:0.2em; }
span.ior { font-weight:bold; } /* font-style:italic; */
span.bk { font-style:italic; }

/* Chapters USFM */
span.c { font-size:1.1em; color:green; }
span.cPsa { font-size:1.6em; font-weight:bold; color:green; }
span.v { vertical-align:super; font-size:0.5em; color:red; }
span.cv { vertical-align:super; font-size:0.8em; color:orange; }
span.vp { vertical-align:super; font-size:0.5em; color:purple; }
p.s1 { margin-top:0.1em; margin-bottom:0; font-weight:bold; }
p.r { margin-top:0; margin-bottom:0; font-size:0.75em; }
p.d { font-style:italic; }
p.p { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.q1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.q2 { margin-left:2em; margin-top:0.2em; margin-bottom:0.2em; }
p.pm { margin-top:0.2em; margin-bottom:0.2em; }
p.pmo { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.pmc { margin-top:0.2em; margin-bottom:0.2em; }
p.pmr { margin-top:0.2em; margin-bottom:0.2em; }
span.add { color:grey; }
span.rem { font-size:0.8em; color:grey; }
span.wj { color:saddlebrown; }

/* Notes USFM */
p.fn { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
p.xr { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.fnCaller { vertical-align: super; font-size:0.7em; color:green; }
span.enCaller { vertical-align: super; font-size:0.7em; color:green; }
span.xrCaller { vertical-align: super; font-size:0.7em; color:blue; }
span.fnRef { font-weight:bold; }
span.xrRef { font-weight:bold; }
/* span.fnText { } */
/* span.xrText { } */
