/* Links */
/* a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } */
a { text-decoration: none; }

div.footer { width: 500px; height: 250px; margin: 50px; }

p.rem { font-size:0.8em; color:grey; }
