/* button#underlineButton { float:right; }
div.container { display:grid; column-gap:0.6em; grid-template-columns:0.85fr 1.15fr; }
div.BibleText { } */
div.footer { width: 500px; height: 250px; margin: 50px; }
div.rightBox { float:right; width:35%; border:3px solid #73AD21; padding:0.2em; }

span.upLink { font-size:1.5em; font-weight:bold; }

/* Links */
/* a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } */
a { text-decoration: none; }

/* Navigational lists at top of page */
p.wrkLst { background-color:#904471; color:98a9d4; }
.wrkLst a { text-decoration:none; color:white; }
p.viewLst {background-color:#936EA1; color:98a9d4; }
.viewLst a { text-decoration:none; color:white; }
p.bkLst {background-color:#F9F871; }
.bkLst a { color:inherit; text-decoration:none; }
p.chLst {background-color:paleGreen; }
.chLst a { text-decoration:none; }
p.vsLst {background-color:mistyRose; }
.vsLst a { text-decoration:none; }

/* For bkList class */
span.OT { color: saddlebrown; }
.OT a { text-decoration:none; }
span.NT { color: darkgreen; }
.NT a { text-decoration:none; }
span.DC { color: orange; font-size: smaller; }
.DC a { text-decoration:none; }

/* Navs are the ones with arrows */
p.cNav { text-align:center; font-size:1.8em; background-color:#98a9d4; }
/* .cNav a { text-decoration: none; } */
p.vNav { text-align:center; font-size:1.8em; }
/* .vNav a { text-decoration: none; }
.footnotes a { text-decoration: none; }
.crossRefs a { text-decoration: none; } */

/* Header USFM */
p.h { font-weight:bold; }
p.mt1 { text-align:center; font-size:1.8em; }
p.mt2 { text-align:center; font-size:1.3em; }
p.rem { font-size:0.8em; color:grey; }

/* Our book intro USFM */
li.intro { margin-top:0.5em; margin-bottom:0.5em; }
p.is1 { font-weight:bold; font-size:1.3em; }
p.is2 { font-weight:bold; }
p.iot { font-weight:bold; }
p.io1 { text-indent:2em; margin-top:0.2em; margin-bottom:0.2em; }
span.ior { font-weight:bold; }
span.bk { font-style:italic; }

/* Chapters USFM */
span.c { font-size:1.1em; color:green; }
span.cPsa { font-size:1.6em; font-weight:bold; color:green; }
span.v { vertical-align:super; font-size:0.5em; color:red; }
span.cv { vertical-align:super; font-size:0.8em; color:orange; }
span.vp { vertical-align:super; font-size:0.5em; color:purple; }
span.d { font-style:italic; }
p.s1 { margin-top:0.1em; margin-bottom:0; font-weight:bold; }
p.r { margin-top:0; margin-bottom:0; font-size:0.75em; }
p.p { text-indent:0.5em; margin-top:0.2em; margin-bottom:0.2em; }
p.q1 { margin-left:1em; margin-top:0.2em; margin-bottom:0.2em; }
p.q2 { margin-left:2em; margin-top:0.2em; margin-bottom:0.2em; }
/* p.m {  } */

span.nominaSacra { font-weight:bold; }
span.nd { font-weight:bold; }
span.add { color:grey; }
span.wj { color:saddlebrown; }
span.FoS { color:mediumvioletred; }
span.untr { background-color:ivory; color:yellowGreen; }

/* Tyndale Book Intro Summaries */
p.intro-title { text-align:center; font-size:1.8em; }
p.intro-sidebar-h1 { font-weight:bold; }

/* Tyndale Book Intros */
p.intro-h1 { font-weight:bold; }

/* Tyndale SNs */
span.sn-excerpt { font-family: Arial, Helvetica, sans-serif; color: saddleBrown; }
span.ital { font-style:italic; }
span.hebrew { color: orange; }
span.greek { color: darkgreen; }
/* Tyndale TNs */
p.theme-title { font-weight:bold; }
p.theme-refs-title { font-weight:bold; }
/* uW TNs */
p.OL { margin-bottom:0; color:indigo; }
p.Trans { margin-top:0; color:saddlebrown; }
p.Gram { font-style:italic; }

/* Notes USFM */
p.fn { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
p.xr { margin-top:0.2em; margin-bottom:0.2em; font-size:0.75em; }
span.fnCaller { vertical-align: super; font-size:0.7em; color:green; }
span.enCaller { vertical-align: super; font-size:0.7em; color:green; }
span.xrCaller { vertical-align: super; font-size:0.7em; color:blue; }
span.fnRef { font-weight:bold; }
span.xrRef { font-weight:bold; }
/* span.fnText { } */
/* span.xrText { } */
